.titre {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.niveauIA {
    color: white;
}

.form {
    text-align: center;
    border: 1px black;
    border-radius: 10px;
    width: 230px;
    height: 420px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url("https://th.bing.com/th/id/OIP.vPnswXkSuBCp_E4XdNQrlQHaE7?pid=ImgDet&rs=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.horaire {
    color: white;
}

.form-group {
    margin-top: 15px;
    color: white;
}

/*

.form-group #name {
    height: 40px;
    font-size: 16px;
}

.form-group #email {
    height: 40px;
    font-size: 16px;
}

.form-group #comment {
    margin-bottom: 20px;
}

#submit {
    margin-top: 30px;
    margin: 0 auto;
    color: black;
    border: 1px solid black;
}

#submit:hover {
    background-color: blue;
}

@media (min-width: 768px) and (max-width: 991px){
    .form {
        margin-left: 40px;
        margin-top: -50px;
    }

    #submit {
        margin: 0 auto;
    }
} */